/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 100;
}

.header-inner {
  max-width: 1280px;
  margin: auto;
  padding: 0 32px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  cursor: pointer;
  color: #e31e24;
}

.logo a span {
  color: #e31e24;
}

.nav {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.nav a:hover {
  cursor: pointer;
  color: #e31e24;
}

.active-nav-link {
  color: #e31e24;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  padding: 8px 12px;
  border: none;
  background: #f5f5f5;
}

.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #e31e24;
  color: #fff;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO */
.hero {
  height: 420px;
  background: linear-gradient(to right, rgba(0,0,0,.8), transparent),
    url('https://images.unsplash.com/photo-1520974735194-6c9f01c44d9f') center/cover;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 500px;
  margin-left: 80px;
  color: #fff;
}

.hero-content h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}

.hero-content p {
  margin-bottom: 24px;
}

.btn-primary {
  background: #e31e24;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-weight: 700;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

/* SECTION */
.section {
  max-width: 1280px;
  margin: 48px auto;
  padding: 0 32px;
}

.section h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.card {
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
}

.card-img {
  height: 260px;
  background: #ddd;
}

.card-body {
  padding: 16px;
}

.card-body h4 {
  margin-bottom: 4px;
}

.card-body p {
  font-size: 14px;
  color: #666;
}

.card-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 700;
}

.btn-small {
  background: #e31e24;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
